section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 240px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .example-button {
    display: block;
    margin: 80px auto 400px;
  }
  
  .example-container {
    height: 200px;
    overflow: auto;
    border: 1px solid #ccc;
  }

  .mat-form-field + .mat-form-field,
.mat-raised-button {
  margin-left: 8px;
}