<ng-container *ngIf="!access">
    <h1 >Acesso:</h1>
    <mat-form-field appearance="fill">
        <mat-label>Loja</mat-label>
        <input matInput type="text" id="storeName" name="storeName" (blur)="addStoreName($event)">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Usuário</mat-label>
        <input matInput type="text" id="userName" name="userName" (blur)="addUserName($event)">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" id="userPassword" name="userPassword" [type]="hide ? 'password' : 'text'" (blur)="addUserPassword($event)">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
  <section>
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
                <div class="example-label">Acessar
                    <button mat-raised-button
                            mat-mini-fab
                            matTooltip="Acessar o sistema." 
                            color="primary" 
                            aria-label="Example icon button with a home icon"
                            (click)="validar()"
                            type="button">
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="access">
    <router-outlet>
    </router-outlet>
</ng-container>